<div class="startDiv">
	<div style="position:relative;top:10%;display:block;">
    <div><img class="centerItem" ng-src="img/title.png" alt="HTML5 Icon" width="75%" height="75%" /></div>
    <br />
    <div ><img class="centerItem" ng-src={{playerInfo.avatarImageUrl}} alt="HTML5 Icon" width="20%" height="20%"></div>
    <br />
    <div class="centerItem" style="position:relative;width:50%;height:10%;text-align:center;font-size:150%">
        Playing as 
        <br />
        <span style="font-size:200%"><strong>{{playerInfo.displayName}}</strong></span>
    </div>
    <br />
    <!--
	<div><button class="btn btn-primary centerItem" ng-click="guestLogin()" style="width:50%;height:15%;font-size:80%;">Login With Another Account</button></div>
	<br />

    <div><button class="btn btn-primary centerItem" ng-click="fbLogin()" style="width:50%;font-size:80%;">Facebook Login</button></div>
    <br />
    -->

    	<div class="centerItem" style="width:70%">
    		<tabset justified="true" style="width:100%;font-size:100%">
    			<tab heading="Play Online">
    				<br />
    				<div class="btn-group" style="width:100%">
       					<label style="width:30%; line-height:150%; font-size:110%;" class="btn btn-primary" ng-click="gotoGame('playWhite')">New Match</label>
        				<label style="width:40%; line-height:150%; font-size:110%;" class="btn btn-primary" ng-click="gotoGame('playBlack')">Find Auto Match</label>
        				<label style="width:30%; line-height:150%; font-size:110%;" class="btn btn-primary" ng-click="gotoMatches()" >Match List</label>
    				</div>
    			</tab>
    			<tab heading="Single Player">
    				<br />
    				<div class="btn-group" style="width:100%">
       					<label style="width:50%; font-size:110%;" class="btn btn-primary" ng-click="gotoGame('passAndPlay')">Pass N Play</label>
        				<label style="width:50%; font-size:110%;" class="btn btn-primary" ng-click="gotoGame('playAgainstTheComputer')">Play With Computer</label>
    				</div>
    			</tab>
 			 </tabset>
    	</div>
    <br />
</div>
</div>
