<div class="startDiv">
	<div style="position:relative;top:10%;display:block;">
    <div ><img class="centerItem" ng-src={{playerInfo.avatarImageUrl}} alt="HTML5 Icon" width="30%" height="30%"></div>
    <br />
    <div class="centerItem" style="position:relative;width:50%;height:10%;text-align:center;">
    	<input type = "text" style="width:100%;height:100%;font-size:15px;" value="{{playerInfo.displayName}}"></input>
    </div>
    <br />
    <br />
	<div><button class="btn btn-primary centerItem" ng-click="guestLogin()" style="width:50%;height:15%;font-size:80%;">Login With Another Account</button></div>
	<br />
    <div class="centerItem" style="position:relative;width:50%;height:10%;text-align:center;">
    	<input type = "text" style="width:100%;height:100%;font-size:15px;" value="{{gameName}}"></input>
    </div>
    <br />
    <br />
    	<div class="centerItem" style="width:70%">
    		<tabset justified="true" style="width:100%;font-size:80%">
    			<tab heading="Play Online">
    				<br />
    				<div class="btn-group" style="width:100%">
       					<label style="width:30%; font-size:80%;" class="btn btn-primary" ng-click="gotoGame('playWhite')">New Match</label>
        				<label style="width:40%; font-size:80%;" class="btn btn-primary" ng-click="gotoGame('playBlack')">Find Auto Match</label>
        				<label style="width:30%; font-size:80%;" class="btn btn-primary" ng-click="gotoMatches()" >Match List</label>
    				</div>
    			</tab>
    			<tab heading="Single Player">
    				<br />
    				<div class="btn-group" style="width:100%">
       					<label style="width:50%; font-size:80%;" class="btn btn-primary" ng-click="gotoGame('passAndPlay')">Pass N Play</label>
        				<label style="width:50%; font-size:80%;" class="btn btn-primary" ng-click="gotoGame('playAgainstTheComputer')">Play With Computer</label>
    				</div>
    			</tab>
 			 </tabset>
    	</div>
    <br />
</div>
</div>
