<div class="startDiv" style="width:100%;height:100%;">
    <div style="position:relative;top:10%;display:block;width:100%;height:70%;">
        <div class="centerItem" style="width:70%;height100%;">

                <label class="btn btn-default centerItem" ng-model="listMode" ng-click="displayTab('myMatches')" btn-radio="'my'" style="width:50%; font-size : 90%;display:block">My Matches</label>

            <div ng-show="myMatches">
                <div ng-style="matchListStyle">
                    <div>&nbsp;</div>
                    <div class="centerItem" ng-model="matchStrings" ng-repeat="match in myMatchStrings" style="position:relative;width:90%;height15%;font-size:90%;">
                        <button ng-class="{btn :true, 'btn-success' :(match.joinable), 'btn-danger' : (!match.joinable), 'btn-sm':true}" ng-click="matchListSelected(match)" style="width:100%;font-size:90%;">{{match.infoString}}</button>
                        <div>&nbsp;</div>
                    </div>
                    <br />
                </div>
                <button ng-show="myMatchStrings.length" ng-model="joinBtTitle" class="btn btn-primary centerItem" ng-click="resumeMatch()" style="width:50%;height:12%;font-size:90%" ">Resume Match</button>
            </div>
            <div ng-show=false>
                <div ng-style="matchListStyle">
                    <div>&nbsp;</div>
                    <div class="centerItem" ng-model="matchStrings" ng-repeat="match in allMatchStrings" style="position:relative;width:90%;height15%;font-size:90%;">
                        <button ng-class="{btn :true, 'btn-success' :(match.joinable), 'btn-danger' : (!match.joinable), 'btn-sm':true}" ng-click="matchListSelected(match)" style="width:100%;font-size:90%;">{{match.infoString}}</button>
                        <div>&nbsp;</div>
                    </div>
                    <br />
                </div>
                <button ng-show="allMatchStrings.length" ng-model="joinBtTitle" class="btn btn-primary centerItem" ng-click="resumeMatch()" style="width:50%;height:12%;font-size:90%" ">Resume Match</button>
            </div>
        </div>
    </div>
    <div class="centerItem" style="position:relative;top:20%;width:75%;">
        <button class="btn btn-primary" ng-click="gotoMenu()" style="width:20%;height:10%;font-size:70%" ">Menu</button>
        <button class="btn btn-primary" ng-click="resumeMatch()" style="position:relative;left:60%;width:20%;height:10%;font-size:70%">Game</button>
    </div>
</div>
